.princ{
    margin:0;
    height: 500px;
    padding:10px;
    background:linear-gradient(to bottom,#ce109e,#f0bfe5);
 }
 .exercice7_fieldset{
      margin:10px;
      border:none;
      background-color:#FFFFFF;
      border-radius:10px;
      padding:20px;
      height: 400px;
   }
   .exercice7_legend{
      font-family:verdana, arial, sans-serif;
      font-size:14pt;
      font-weight:bold;
      color:#FFFFFF;
      margin:10px;
      padding:10px 20px 10px 20px;
      background-color:#AAAAAA;
      border-radius:4px;
   }
   h1{
      font-weight: normal; 
      font-size: 280%;
       text-indent: 10px;
       letter-spacing: -1px;
       color: #ce109e;
  }
  .exercice7_champs{
    outline:none;
    border:solid 1px #AAAAAA;
    padding:10px;
    border-radius:4px;
    font-family:verdana, arial, sans-serif;
    }
  .text2{
     text-align: center;
     justify-content: center;
  }
  .btn1,.btn2{
   background-color: white;
   border-radius: 15px;
   border: 4px double #ce109e;
   color: black;
   font-size: 15px;
   padding: 10px;
   width: 120px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
}
.btn1{
   margin-left: 2%;
   margin-right: 80%;
}
.btn1:hover{
   background-color: #ce109e;
   color: white;
}
.btn2:hover{
   background-color: #ce109e;
   color: white;
}
